In [2]:
#print string
print('printing string')

printing string

In [3]:
#quotes
print('this is single "quotes"')
print("this is double 'quotes' ")
print('this is kishore"s ')

this is single "quotes"
this is double 'quotes'
this is kishore"s

In [6]:
a= 'hello'
print(a)
print(a[0])

hello
h

In [5]:
#multi line string
b = '''this is a multi 
    line string
    hola'''
print(b)

this is a multi
    line string
    hola

In [7]:
c = 'interstellar'
for i in c:
    print(i)

i
n
t
e
r
s
t
e
l
l
a
r

In [8]:
print(len(c))

12

In [9]:
c='interstellar'
print('inter' in c)

True

In [11]:
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

========================Slicing========================

In [26]:
print(c)
print(c[2:5])
print(c[:5])
print(c[5:])
print(c[-12:-1])
print(c[-1])
print(c[::])
print(c[::-1])

interstellar
ter
inter
stellar
interstella
r
interstellar
ralletsretni

In [38]:
print(c.upper())
print(c)
print(c.lower())
c='inter stellar '
print(c.strip('i'))
print(c.replace('l','1'))
print(c)
print(c.split('e'))
print(c)

INTER STELLAR
inter stellar
inter stellar
nter stellar
inter ste11ar
inter stellar
['int', 'r st', 'llar ']
inter stellar

In [44]:
d = 'hello'
e= 'arha'
print(d+' '+e)
age = 2
f = f"arha is {age}"
print(f)
g = 'arha is ' + str(age)
print(g)
txt = f"The price is {20 * 59} dollars"
print(txt)

hello arha
arha is 2
arha is 2
The price is 1180 dollars

##############
Escape characters

In [53]:
a='hel\'o'
print(a)
b='hel\no'
print(b)
c='hel\to'
print(c)
d='hel\ro'
print(d)
print('--------')
print('abc\rdefg\rhello')
print('abc\bdef')

hel'o
hel
o
hel	o
oel
--------
hello
abdef

In [73]:
print('==============string methods===========')
a='hello world'
print(a.capitalize())
print(a)
print(a.casefold())
print(a.center(20,'='))
print(a.count('l'))
txt = "My name is StÃ¥le"

x = txt.encode()

print(x)



print(a.endswith('rld'))
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(3))
print(txt.expandtabs(4))

print(a.find('l'))

==============string methods===========
Hello world
hello world
hello world
====hello world=====
3
b'My name is St\xc3\xa5le'
True
H	e	l	l	o
H       e       l       l       o
H e l l o
H  e  l  l  o
H   e   l   l   o
2

In [94]:
a='SamriddhiArha12'
print(a)
print(a.index('riddhi'))
print(a.isalnum())
s='SamriddhiArha'
print(s.isalpha())
a='Samriddhi Arha12'

print(a.isascii())
b='12345678'
print(b.isdecimal())
print(b.isnumeric())
print(b.isdigit())


a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"
print('----------')
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

SamriddhiArha12
3
True
True
True
True
True
True
----------
True
True
False
False

In [100]:
a='samriddhi'
print(a.islower())
a='1234567890'
print(a.isnumeric())
a=' '
print(a.isspace())
a='ARHA'
print(a.isupper())

True
True
True
True

In [101]:
b=['1','a','b','4']
c=''.join(b)
print(c)

1ab4

In [114]:
a = 'hello world'
print(a.ljust(20,'*'))
a="  ARHA"
print(a.lower())
print(a.lstrip())
b=str.maketrans("A",'R')
print(b)
print(a.translate("R","A"))

hello world*********
  arha
ARHA
{65: 82}

TypeError: str.translate() takes exactly one argument (2 given)

In [131]:
a='hello arha'
print(a)
print(a.partition('o '))
print(a.replace('lo ','ooo'))

txt = "Mi casa, su casa."

x = txt.rfind("casa")
y = txt.rindex('casa')

print(x)
print(y)

a = 'hello world'
print(a.rjust(15))
print(a.split(' '))

txt = "     banana     "

x = txt.strip()
print(x)
print(x.swapcase())
print(x.title())

hello arha
('hell', 'o ', 'arha')
heloooarha
12
12
    hello world
['hello', 'world']
banana
BANANA
Banana