In [2]:
#print string
print('printing string')

printing string

In [3]:
#quotes
print('this is single "quotes"')
print("this is double 'quotes' ")
print('this is kishore"s ')

this is single "quotes"
this is double 'quotes'
this is kishore"s

In [6]:
a= 'hello'
print(a)
print(a[0])

hello
h

In [5]:
#multi line string
b = '''this is a multi 
    line string
    hola'''
print(b)

this is a multi
    line string
    hola

In [7]:
c = 'interstellar'
for i in c:
    print(i)

i
n
t
e
r
s
t
e
l
l
a
r

In [8]:
print(len(c))

12

In [9]:
c='interstellar'
print('inter' in c)

True

In [11]:
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

========================Slicing========================

In [26]:
print(c)
print(c[2:5])
print(c[:5])
print(c[5:])
print(c[-12:-1])
print(c[-1])
print(c[::])
print(c[::-1])

interstellar
ter
inter
stellar
interstella
r
interstellar
ralletsretni

In [38]:
print(c.upper())
print(c)
print(c.lower())
c='inter stellar '
print(c.strip('i'))
print(c.replace('l','1'))
print(c)
print(c.split('e'))
print(c)

INTER STELLAR
inter stellar
inter stellar
nter stellar
inter ste11ar
inter stellar
['int', 'r st', 'llar ']
inter stellar

In [44]:
d = 'hello'
e= 'arha'
print(d+' '+e)
age = 2
f = f"arha is {age}"
print(f)
g = 'arha is ' + str(age)
print(g)
txt = f"The price is {20 * 59} dollars"
print(txt)

hello arha
arha is 2
arha is 2
The price is 1180 dollars