Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.



Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(mytuple[0])
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')
apple
('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[-2])

('cherry', 'orange', 'kiwi')
melon

In [10]:
tup = ('hello', 1)
print(tup)
print(tup[-1])

('hello', 1)
1

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])
tup2 = ('kishore',)
thistuple += tup2
print(thistuple)

('orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'kishore')

In [17]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [23]:
fruits = ("apple", "banana", "cherry")

(green, *yellow) = fruits

print(green)
print(yellow)

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry']
apple
['banana', 'cherry', 'strawberry']
raspberry

In [24]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [36]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 4

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')