In [1]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [2]:
a = "Samriddhi Arha"

for i in a:
    print(i)

S
a
m
r
i
d
d
h
i

A
r
h
a

In [5]:
a = "Samriddhi Arha"

for i in a:
    print(i)
    if i == " ":
        break

S
a
m
r
i
d
d
h
i

In [7]:
a = "Samriddhi Arha"

for i in a:
    
    if i == " ":
        continue
    print(i)

S
a
m
r
i
d
d
h
i
A
r
h
a

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,100,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [16]:
for i in range(6):
    print(i)
    if i ==3:
        break
else:
    print('finished')

0
1
2
3

In [19]:
a = [1,2,3,4]
b = [1,2,3,4,5,6,7,8]
for i in a:
    for j in b:
        print(i,'*',j, '=', i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

In [20]:
for i in range(6):
    print('inside loop')
    pass

inside loop
inside loop
inside loop
inside loop
inside loop
inside loop